<div class="welcome-msg">
  <div class="row mb-3">
    <div class="col-md-8">
      <h1>Welcome to dotForum!</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="col-md-4 my-auto">
      <%= link_to 'Buat Thread', new_forum_thread_path, class: 'btn btn-primary btn-lg btn-block' %>
    </div>
  </div>
</div>
<% @threads.each do |thread| %>
  <div class="threads card card-body my-2">
    <h3><%= link_to thread.title, forum_thread_path(thread), class: 'text-decoration-none text-dark'  %></h3>
    <span class="meta"><small><%= I18n.l thread.created_at.to_date %> oleh <%= thread.user.name %></small></span>
    <hr>
    <p><%= truncate thread.content, length: 250 %></p>
    <span><%= thread.forum_posts_count %> obrolan</span>
  </div>
<% end %>
