<div class="welcome-msg">
  <h1>Welcome to dotForum!</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <hr>
</div>
<% @threads.each do |thread| %>
  <div class="threads">
    <h3><%= link_to thread.title, forum_thread_path(thread), class: 'text-decoration-none text-dark'  %></h3>
    <span class="meta"><small><%= I18n.l thread.created_at.to_date %> oleh <%= thread.user.name %></small></span>
    <p><%= truncate thread.content, length: 250 %></p>
    <span><%= thread.forum_posts.count %> obrolan</span>
    <hr>
  </div>
<% end %>
