<div class="thread-detail card card-body my-2">
  <h1><%= @thread.title %></h1>
  <span class="meta"><small><%= I18n.l @thread.created_at.to_date %> oleh <%= @thread.user.name %></small></span>
  <p><%= truncate @thread.content, length: 250 %></p>
</div>
<div class="comment">
  <h3 class="ml-3 ml-md-3">Komentar</h3>
  <% if @thread.forum_posts.any? %>
    <% @thread.forum_posts.each do |post| %>
      <div class="comment-list card card-body my-3">
        <div class="row">
          <div class="col-md-2">
            <%= image_tag 'profile-placeholder.png', class: 'img-fluid rounded' %>
          </div>
          <div class="col-md-3 mt-2 mt-md-0 border-right">
            <b><%= post.user.name %></b><br>
            <span><small><%= I18n.l post.created_at.to_date %></small></span>
          </div>
          <div class="col-md-7 pl-md-5">
            <p><%= post.content %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <% if user_signed_in? %>
      <p class="ml-md-3">Jadilah yang pertama berkomentar.</p>
    <% end %>
  <% end %>
  <% if user_signed_in? %>
    <%= form_for [@thread, @post] do |f| %>
      <div class="comment-form">
        <div class="forum-group mb-3">
          <%= f.label :content, 'Berikan tanggapanmu :', class: 'ml-3 ml-md-3' %>
          <%= f.text_area :content, class: 'form-control', rows: 6 %>
        </div>
        <% if @post.errors.any? %>
          <div class="notice">
            <div class="alert alert-danger">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <% @post.errors.full_messages.each do |error| %>
                <%= error %><br>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="forum-group">
          <%= f.submit 'Publish Komentar', class: 'btn btn-primary btn-block' %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class="mt-4 text-center">Kamu perlu login untuk dapat berkomentar.</p>
  <% end %>
</div>
