<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <b><%= link_to 'DOTFORUM', root_path, class:'navbar-brand' %></b>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Beranda', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Tentang Forum', nil, class: 'nav-link' %>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Cari judul thread" aria-label="Cari">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Cari</button>
    </form>
    <ul class="navbar-nav ml-2">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hi! Bro
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to 'Daftar', nil, class: 'dropdown-item' %>
          <%= link_to 'Login', nil, class: 'dropdown-item' %>
        </div>
      </li>
    </ul>
  </div>
</nav>
