<!DOCTYPE html>
<html>
  <head>
    <title>DotForum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container">
      <div class="row my-3">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <%= yield %>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </body>
</html>
